<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>id</key>
      <integer>6</integer>
      <key>name</key>
      <string>Aleja Krasińskiego</string>
      <key>channelId</key>
      <integer>46</integer>
      <key>lat</key>
      <real>50.057678</real>
      <key>lng</key>
      <real>19.926189</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>152</integer>
      <key>name</key>
      <string>Kraków, os. Piastów</string>
      <key>channelId</key>
      <integer>1747</integer>
      <key>lat</key>
      <real>50.099361</real>
      <key>lng</key>
      <real>20.018317</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>173</integer>
      <key>name</key>
      <string>Kraków, os. Swoszowice</string>
      <key>channelId</key>
      <integer>2176</integer>
      <key>lat</key>
      <real>49.991242</real>
      <key>lng</key>
      <real>19.936117</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>161</integer>
      <key>name</key>
      <string>Kraków, os. Wadów</string>
      <key>channelId</key>
      <integer>1921</integer>
      <key>lat</key>
      <real>50.100569</real>
      <key>lng</key>
      <real>20.122561</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>153</integer>
      <key>name</key>
      <string>Kraków, ul. Złoty Róg</string>
      <key>channelId</key>
      <integer>1752</integer>
      <key>lat</key>
      <real>50.081197</real>
      <key>lng</key>
      <real>19.895358</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>16</integer>
      <key>name</key>
      <string>Kraków-Kurdwanów</string>
      <key>channelId</key>
      <integer>148</integer>
      <key>lat</key>
      <real>50.010575</real>
      <key>lng</key>
      <real>19.949189</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>149</integer>
      <key>name</key>
      <string>Kraków-ul. Dietla</string>
      <key>channelId</key>
      <integer>1723</integer>
      <key>lat</key>
      <real>50.057447</real>
      <key>lng</key>
      <real>19.946008</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>172</integer>
      <key>name</key>
      <string>Krynica, ul. Bulwary Dietla</string>
      <key>channelId</key>
      <integer>2159</integer>
      <key>lat</key>
      <real>49.416978</real>
      <key>lng</key>
      <real>20.956147</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>7</integer>
      <key>name</key>
      <string>Nowa Huta</string>
      <key>channelId</key>
      <integer>57</integer>
      <key>lat</key>
      <real>50.069308</real>
      <key>lng</key>
      <real>20.053492</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>8</integer>
      <key>name</key>
      <string>Nowy Sącz</string>
      <key>channelId</key>
      <integer>71</integer>
      <key>lat</key>
      <real>49.619281</real>
      <key>lng</key>
      <real>20.714403</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>160</integer>
      <key>name</key>
      <string>Nowy Targ, Pl. Słowackiego</string>
      <key>channelId</key>
      <integer>1809</integer>
      <key>lat</key>
      <real>49.483593</real>
      <key>lng</key>
      <real>20.028785</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>182</integer>
      <key>name</key>
      <string>Olkusz, ul. Cegielniana</string>
      <key>channelId</key>
      <integer>2237</integer>
      <key>lat</key>
      <real>50.283974</real>
      <key>lng</key>
      <real>19.564303</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>169</integer>
      <key>name</key>
      <string>Oświęcim, ul. J. Bema</string>
      <key>channelId</key>
      <integer>2260</integer>
      <key>lat</key>
      <real>50.032114</real>
      <key>lng</key>
      <real>19.245392</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>166</integer>
      <key>name</key>
      <string>Rabka-Zdrój</string>
      <key>channelId</key>
      <integer>2242</integer>
      <key>lat</key>
      <real>49.608647</real>
      <key>lng</key>
      <real>19.966008</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>5</integer>
      <key>name</key>
      <string>Skawina</string>
      <key>channelId</key>
      <integer>34</integer>
      <key>lat</key>
      <real>49.971047</real>
      <key>lng</key>
      <real>19.830422</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>165</integer>
      <key>name</key>
      <string>Sucha Beskidzka, ul. Nieszczyńskiej</string>
      <key>channelId</key>
      <integer>1973</integer>
      <key>lat</key>
      <real>49.743111</real>
      <key>lng</key>
      <real>19.600399</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>4</integer>
      <key>name</key>
      <string>Tarnów</string>
      <key>channelId</key>
      <integer>23</integer>
      <key>lat</key>
      <real>50.020169</real>
      <key>lng</key>
      <real>21.004167</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>150</integer>
      <key>name</key>
      <string>Tarnów-ul. Ks. Romana Sitko</string>
      <key>channelId</key>
      <integer>1730</integer>
      <key>lat</key>
      <real>50.018263</real>
      <key>lng</key>
      <real>20.99258</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>11</integer>
      <key>name</key>
      <string>Trzebinia</string>
      <key>channelId</key>
      <integer>101</integer>
      <key>lat</key>
      <real>50.159406</real>
      <key>lng</key>
      <real>19.477464</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>183</integer>
      <key>name</key>
      <string>Zabierzów, ul. Wapienna</string>
      <key>channelId</key>
      <integer>2234</integer>
      <key>lat</key>
      <real>50.116169</real>
      <key>lng</key>
      <real>19.800679</real>
    </dict>
    <dict>
      <key>id</key>
      <integer>9</integer>
      <key>name</key>
      <string>Zakopane</string>
      <key>channelId</key>
      <integer>78</integer>
      <key>lat</key>
      <real>49.293564</real>
      <key>lng</key>
      <real>19.960083</real>
    </dict>
  </array>
</plist>
